.Sidebar {
    background-color: #800020;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
}

.Menubars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    z-index: 10;
    cursor: default;
}

.Closed {
    background-color: #800020;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 150ms;
    z-index: 10;
}

.Open {
    background-color: #800020;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: 350ms;
    z-index: 10;
}

.Separator {
    border-top: 2px solid #fff;
    width: 90%;
    margin: auto;
}

.Sidetext {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.Sidetext a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    cursor: default;
}

.Sidetext a:hover {
    background-color: rgba(255,255,255,0.7);
    color: #800020;
}

.Navmenuitems {
    width: 100%;
}

.Navbartoggle {
    background-color: #800020;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

span {
    margin-left : 16px;
}

@media (min-width: 1200px) {
    .Sidebar {
        display: none;
    }
}