.Container {
    border-top: 2px solid #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 0 auto;
}

.TextContainer {
    color: #fff;
    padding-top: 3vh;
    width: 90%;
    height: 100%;
    margin: auto;
    text-align: justify;
    padding-bottom: 20px;
}

.Lists {
    list-style: circle;
    list-style-position: inside;
}

.Centeredcontainer p {
    text-align: center;
}

.Contactinfo {
    display: inline-block;
    color: #fff;
    font-size: 2.5rem;
    vertical-align: middle;
}

@media only screen and (min-width: 768px) {
    .TextContainer {
    padding-top: 5vh;
    font-size: 1.1rem;
    }
}

@media only screen and (min-width: 1200px) {
    .TextContainer {
    padding-top: 7vh;
    font-size: 1.1rem;
    }
}

@media only screen and (max-width: 1921) {
    .Container {
        width: 1920px;
    }
}